 <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div clas="col-md-6 offset-md-3">
                    <h3>Reset your Password</h3>
                    <form [formGroup]="PasswordResetForm"(ngSubmit)="OnSubmit()">
                        <div class="form-group">
                            <lable>EmployeeID</lable>
                            <input type="text" formControlName="EmployeeId" class="form-control" [ngClass]="{'is-invalid':submitted &&f['EmployeeId'].errors}"/>
                            <!--Custom Validators-->
                            <div*ngIf="submitted&&f['EmployeeId'].errors">
                                <div*ngIf="submitted&&f['EmployeeId'].errors['required']">
                                    EmployeeId is required and can not be empty.
                                </div>
                            </div>
                        </div>
                        <!--Starting Date-->
                        <div class="form-group">
                            <lable>Name</lable>
                            <input type="text" formControlName="Name" class="form-control" [ngClass]="{'is-invalid':submitted && f['Name'].errors}"/>
                            <!--Custom Validators-->
                            <div*ngIf="submitted&&f['Name'].errors">
                                <div*ngIf="submitted&&f['Name'].errors['required']">
                                    Name is required and can not be empty.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <lable>Email</lable>
                            <input type="email" formControlName="Email" class="form-control" [ngClass]="{'is-invalid':submitted &&f['Email'].errors}"/>
                            <!--Custom Validators-->
                            <div*ngIf="submitted&&f['Email'].errors">
                                <div*ngIf="submitted&&f['Email'].errors['required']">
                                    EndDate is required and can not be empty.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <lable>New Password</lable>
                            <input type="text" formControlName="NewPassword" class="form-control" [ngClass]="{'is-invalid':submitted &&f['NewPassword'].errors}"/>
                            <!--Custom Validators-->
                            <div*ngIf="submitted&&f['NewPassword'].errors">
                                <div*ngIf="submitted&&f['NewPassword'].errors['required']">
                                    New Password is required to be 8 characters long and can not be empty.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <lable>Confirm Password</lable>
                            <input type="text" formControlName="ConfirmPassword" class="form-control" [ngClass]="{'is-invalid':submitted &&f['ConfirmPassword'].errors}"/>
                            <!--Custom Validators-->
                            <div*ngIf="submitted&&f['ConfirmPassword'].errors">
                                <div*ngIf="submitted&&f['ConfirmPassword'].errors['required']">
                                    New Password is required to be 8 characters long and can not be empty.
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
            
        
    
